# CSV Pretty Print

In [1]:
csv_1 = 'col_1,col_2,col_3,color\n1,3456,2134,red\n123,0,0,green\n349587,-1,14,red'

In [2]:
print(csv_1)

col_1,col_2,col_3,color
1,3456,2134,red
123,0,0,green
349587,-1,14,red

In [3]:
csv_2 = 'Sell,List,Living,Rooms,Beds,Baths,Age,Acres,Taxes\n142,160,28,10,5,3,60,0.28,3167\n175,180,18,8,4,1,12,0.43,4033\n129,132,13,6,3,1,41,0.33,1471\n138,140,17,7,3,1,22,0.46,3204\n232,240,25,8,4,3,5,2.05,3613\n135,140,18,7,4,3,9,0.57,3028\n150,160,20,8,4,3,18,4.00,3131\n207,225,22,8,4,2,16,2.22,5158\n271,285,30,10,5,2,30,0.53,5702\n89,90,10,5,3,1,43,0.30,2054\n153,157,22,8,3,3,18,0.38,4127\n87,90,16,7,3,1,50,0.65,1445\n234,238,25,8,4,2,2,1.61,2087\n106,116,20,8,4,1,13,0.22,2818\n175,180,22,8,4,2,15,2.06,3917\n165,170,17,8,4,2,33,0.46,2220\n166,170,23,9,4,2,37,0.27,3498\n136,140,19,7,3,1,22,0.63,3607\n148,160,17,7,3,2,13,0.36,3648\n151,153,19,8,4,2,24,0.34,3561'

## 1. Parsare

Scrieti o functie care sa parseze un sir de caractere care contine un CSV.

In [4]:
rows = csv_1.split('\n')
tabel = []
for row in rows:
    tabel.append(row.split(','))

In [5]:
tabel

[['col_1', 'col_2', 'col_3', 'color'],
 ['1', '3456', '2134', 'red'],
 ['123', '0', '0', 'green'],
 ['349587', '-1', '14', 'red']]

In [6]:
def parse_csv(csv_string):
    rows = csv_string.split('\n')
    tabel = []
    for row in rows:
        tabel.append(row.split(','))
    return tabel

Exemplu:

In [7]:
table_1 = [
    ['col_1', 'col_2', 'col_3', 'color'],
    ['1', '3456', '2134', 'red'],
    ['123', '0', '0', 'green'],
    ['349587', '-1', '14', 'red']
]

**Hint**: `.split()`

In [8]:
parse_csv(csv_1)

[['col_1', 'col_2', 'col_3', 'color'],
 ['1', '3456', '2134', 'red'],
 ['123', '0', '0', 'green'],
 ['349587', '-1', '14', 'red']]

In [9]:
parse_csv(csv_2)

[['Sell', 'List', 'Living', 'Rooms', 'Beds', 'Baths', 'Age', 'Acres', 'Taxes'],
 ['142', '160', '28', '10', '5', '3', '60', '0.28', '3167'],
 ['175', '180', '18', '8', '4', '1', '12', '0.43', '4033'],
 ['129', '132', '13', '6', '3', '1', '41', '0.33', '1471'],
 ['138', '140', '17', '7', '3', '1', '22', '0.46', '3204'],
 ['232', '240', '25', '8', '4', '3', '5', '2.05', '3613'],
 ['135', '140', '18', '7', '4', '3', '9', '0.57', '3028'],
 ['150', '160', '20', '8', '4', '3', '18', '4.00', '3131'],
 ['207', '225', '22', '8', '4', '2', '16', '2.22', '5158'],
 ['271', '285', '30', '10', '5', '2', '30', '0.53', '5702'],
 ['89', '90', '10', '5', '3', '1', '43', '0.30', '2054'],
 ['153', '157', '22', '8', '3', '3', '18', '0.38', '4127'],
 ['87', '90', '16', '7', '3', '1', '50', '0.65', '1445'],
 ['234', '238', '25', '8', '4', '2', '2', '1.61', '2087'],
 ['106', '116', '20', '8', '4', '1', '13', '0.22', '2818'],
 ['175', '180', '22', '8', '4', '2', '15', '2.06', '3917'],
 ['165', '170', '17', '8', '4', '2', '33', '0.46', '2220'],
 ['166', '170', '23', '9', '4', '2', '37', '0.27', '3498'],
 ['136', '140', '19', '7', '3', '1', '22', '0.63', '3607'],
 ['148', '160', '17', '7', '3', '2', '13', '0.36', '3648'],
 ['151', '153', '19', '8', '4', '2', '24', '0.34', '3561']]

## 2. Afisare

Scrieti o functie care afiseaza un CSV intr-un format *human-readable*.

In [10]:
def print_csv(csv_string):
    tabel = parse_csv(csv_string)
    for cell in tabel[0]:
        print(cell.ljust(8), end='')
    print()
    print('-' * 8 * len(tabel[0]))
    for row in tabel[1:]:
        for cell in row:
            print(cell.ljust(8), end='')
        print()

In [11]:
print_csv(csv_1)

col_1   col_2   col_3   color
--------------------------------
1       3456    2134    red
123     0       0       green
349587  -1      14      red

In [12]:
print_csv(csv_2)

Sell    List    Living  Rooms   Beds    Baths   Age     Acres   Taxes
------------------------------------------------------------------------
142     160     28      10      5       3       60      0.28    3167
175     180     18      8       4       1       12      0.43    4033
129     132     13      6       3       1       41      0.33    1471
138     140     17      7       3       1       22      0.46    3204
232     240     25      8       4       3       5       2.05    3613
135     140     18      7       4       3       9       0.57    3028
150     160     20      8       4       3       18      4.00    3131
207     225     22      8       4       2       16      2.22    5158
271     285     30      10      5       2       30      0.53    5702
89      90      10      5       3       1       43      0.30    2054
153     157     22      8       3       3       18      0.38    4127
87      90      16      7       3       1       50      0.65    1445
234     238     25      8       4       2       2       1.61    2087
106     116     20      8       4       1       13      0.22    2818
175     180     22      8       4       2       15      2.06    3917
165     170     17      8       4       2       33      0.46    2220
166     170     23      9       4       2       37      0.27    3498
136     140     19      7       3       1       22      0.63    3607
148     160     17      7       3       2       13      0.36    3648
151     153     19      8       4       2       24      0.34    3561

Exemplu:

```
col_1   col_2  col_3  color
-----------------------------
1       3456   2134   red
123     0      0      green
349587  -1     14     red
```

**Note**: Puteti considera o valoare constanta pentru latimea coloanelor (de exemplu 8 caractere).

**Hint**: Va puteti folosi de functia scrisa la exercitiul anterior.

## 3. Bonus Challenge

Rescrieti functia de la exercitiul 2 astfel incat latimea coloanelor sa fie determinata dinamic, in functie de latimea celei mai lungi valori.

Exemplu fara latime dinamica:

```
col_1              col_2              col_3              
------------------------------------------------------
a                  2                  4                  
b                  4                  16                
really_long_value  8                  32
```

Exemplu cu latime dinamica:

```
col_1              col_2  col_3              
---------------------------------
a                  2      4                  
b                  4      16                
really_long_value  8      32
```

In [13]:
def print_csv(csv_string):
    pass